deb http://{{ LC_UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }} {{ LC_UBUNTU_REPOS }}
{% if LC_ENABLE_SRC_REPOS == True %}deb-src http://{{ LC_UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }} {{ LC_UBUNTU_REPOS }}{% else %}# deb-src http://{{ LC_UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }} {{ LC_UBUNTU_REPOS }}{% endif %}

deb http://{{ LC_UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }}-updates {{ LC_UBUNTU_REPOS }}
{% if LC_ENABLE_SRC_REPOS == True %}deb-src http://{{ LC_UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }}-updates {{ LC_UBUNTU_REPOS }}{% else %}# deb-src http://{{ LC_UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }}-updates {{ LC_UBUNTU_REPOS }}{% endif %}

deb http://{{ LC_UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }}-security {{ LC_UBUNTU_REPOS }}
{% if LC_ENABLE_SRC_REPOS == True %}deb-src http://{{ LC_UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }}-security {{ LC_UBUNTU_REPOS }}{% else %}# deb-src http://{{ LC_UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }}-security {{ LC_UBUNTU_REPOS }}{% endif %}

deb http://{{ LC_UBUNTU_CANONICAL_PARTNER_MIRROR }}/ubuntu {{ ansible_distribution_release }} partner
{% if LC_ENABLE_SRC_REPOS == True %}deb-src http://{{ LC_UBUNTU_CANONICAL_PARTNER_MIRROR }}/ubuntu {{ ansible_distribution_release }} partner{% else %}# deb-src http://{{ LC_UBUNTU_CANONICAL_PARTNER_MIRROR }}/ubuntu {{ ansible_distribution_release }} partner{% endif %}
