deb http://{{ debian_mirror }}/debian {{ ansible_distribution_release }} {{ debian_repos }}
{% if enable_src_repos == True %}deb-src http://{{ debian_mirror }}/debian {{ ansible_distribution_release }} {{ debian_repos }}{% else %}# deb-src http://{{ debian_mirror }}/debian {{ ansible_distribution_release }} {{ debian_repos }}{% endif %}

deb http://{{ debian_mirror }}/debian {{ ansible_distribution_release }}-updates {{ debian_repos }}
{% if enable_src_repos == True %}deb-src http://{{ debian_mirror }}/debian {{ ansible_distribution_release }}-updates {{ debian_repos }}{% else %}# deb-src http://{{ debian_mirror }}/debian {{ ansible_distribution_release }}-updates {{ debian_repos }}{% endif %}

deb http://{{ debian_security_mirror }}/ {{ ansible_distribution_release }}/updates {{ debian_repos }}
{% if enable_src_repos == True %}deb-src http://{{ debian_security_mirror }}/ {{ ansible_distribution_release }}/updates {{ debian_repos }}{% else %}# deb-src http://{{ debian_security_mirror }}/ {{ ansible_distribution_release }}/updates {{ debian_repos }}{% endif %}