deb http://{{ ubuntu_mirror }}/ubuntu/ {{ ansible_distribution_release }} {{ ubuntu_repos }}
{% if enable_src_repos == True %}deb-src http://{{ ubuntu_mirror }}/ubuntu/ {{ ansible_distribution_release }} {{ ubuntu_repos }}{% else %}# deb-src http://{{ ubuntu_mirror }}/ubuntu/ {{ ansible_distribution_release }} {{ ubuntu_repos }}{% endif %}

deb http://{{ ubuntu_mirror }}/ubuntu/ {{ ansible_distribution_release }}-updates {{ ubuntu_repos }}
{% if enable_src_repos == True %}deb-src http://{{ ubuntu_mirror }}/ubuntu/ {{ ansible_distribution_release }}-updates {{ ubuntu_repos }}{% else %}# deb-src http://{{ ubuntu_mirror }}/ubuntu/ {{ ansible_distribution_release }}-updates {{ ubuntu_repos }}{% endif %}

deb http://{{ ubuntu_mirror }}/ubuntu/ {{ ansible_distribution_release }}-security {{ ubuntu_repos }}
{% if enable_src_repos == True %}deb-src http://{{ ubuntu_mirror }}/ubuntu/ {{ ansible_distribution_release }}-security {{ ubuntu_repos }}{% else %}# deb-src http://{{ ubuntu_mirror }}/ubuntu/ {{ ansible_distribution_release }}-security {{ ubuntu_repos }}{% endif %}

deb http://{{ Ubuntu_canonical_partner_mirror }}/ubuntu {{ ansible_distribution_release }} partner
{% if enable_src_repos == True %}deb-src http://{{ Ubuntu_canonical_partner_mirror }}/ubuntu {{ ansible_distribution_release }} partner{% else %}# deb-src http://{{ Ubuntu_canonical_partner_mirror }}/ubuntu {{ ansible_distribution_release }} partner{% endif %}