deb http://{{ UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }} {{ UBUNTU_REPOS }}
{% if ENABLE_SRC_REPOS == True %}deb-src http://{{ UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }} {{ UBUNTU_REPOS }}{% else %}# deb-src http://{{ UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }} {{ UBUNTU_REPOS }}{% endif %}

deb http://{{ UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }}-updates {{ UBUNTU_REPOS }}
{% if ENABLE_SRC_REPOS == True %}deb-src http://{{ UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }}-updates {{ UBUNTU_REPOS }}{% else %}# deb-src http://{{ UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }}-updates {{ UBUNTU_REPOS }}{% endif %}

deb http://{{ UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }}-security {{ UBUNTU_REPOS }}
{% if ENABLE_SRC_REPOS == True %}deb-src http://{{ UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }}-security {{ UBUNTU_REPOS }}{% else %}# deb-src http://{{ UBUNTU_MIRROR }}/ubuntu/ {{ ansible_distribution_release }}-security {{ UBUNTU_REPOS }}{% endif %}

deb http://{{ UBUNTU_CANONICAL_PARTNER_MIRROR }}/ubuntu {{ ansible_distribution_release }} partner
{% if ENABLE_SRC_REPOS == True %}deb-src http://{{ UBUNTU_CANONICAL_PARTNER_MIRROR }}/ubuntu {{ ansible_distribution_release }} partner{% else %}# deb-src http://{{ UBUNTU_CANONICAL_PARTNER_MIRROR }}/ubuntu {{ ansible_distribution_release }} partner{% endif %}